#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid rgb(0, 123, 167);
}

/*#main {
  margin-left: none;
  margin-right: none;
  margin: 0 auto;
}*/

.button {
}

h1 {
  text-align: center;
}
